@page "/counter"
@using Core.Models;
@inject NavigationManager navigationManager
@inject HttpClient Http;


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<ModalDialog @ref="@addDialog" Title="Add Item to shoppinglist">

    <EditForm EditContext="@aEditContext" class="row p-3" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-md-12 mb-3">
            <label for="Title">Title</label>
            <InputText id="Title" @bind-Value="listingItem.Title" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="Price">Price</label>
            <InputNumber id="Price" @bind-Value="listingItem.Price" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="Status">Status</label>
            <InputSelect id="Status" @bind-Value="listingItem.Status" class="form-control">
                <option value="Available">Available</option>
                <option value="Unavailable">Unavailable</option>
                <option value="Sold">Sold</option>
            </InputSelect>
        </div>
        <div class="col-md-12 mb-3">
            <label for="Description">Description</label>
            <InputText id="Description" @bind-Value="listingItem.Description" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
            <label for="Category">Category</label>
            <InputSelect id="Category" @bind-Value="listingItem.Category" class="form-control">
                <option value="Elektronik">Elektronik</option>
                <option value="Clothing">Tøj</option>
                <option value="Books">Bøger</option>
            </InputSelect>
        </div>
        <div class="col-md-6 mb-3">
            <label for="Location">Location</label>
            <InputSelect id="Location" @bind-Value="_selectedLocationIndex" class="form-control">
                @foreach (var location in _locations)
                {
                    <option value="@_locations.IndexOf(location)">@location.Name</option>
                }
            </InputSelect>
        </div>


        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>


    </EditForm>

</ModalDialog>

@code {
    private string serverUrl = "https://localhost:7016";

    private RegisteredChild[]? registeredChildList = new RegisteredChild[0];

    private EditContext? aEditContext;

    private ModalDialog? addDialog { get; set; }

    public async Task HandleValidSubmit()
    {
        await AddListingItem();
        addDialog.Close();
        //listingList = await Http.GetFromJsonAsync<Listing[]>($"{serverUrl}/api/listing/getall");
    }

    private async Task AddListingItem()
    {
        //listingItem.User = user;
        //listingItem.DatePosted = DateTime.Now;
        //listingItem.Location = _locations[_selectedLocationIndex];
        await Http.PostAsJsonAsync<RegisteredChild>($"{serverUrl}/api/listing/add", registeredChildItem);
        Console.WriteLine("Klient: add " + listingItem.Title + " " + listingItem.Price);
        listingItem = new(); // clear fields in form
    }



    //protected override async Task OnInitializedAsync()
    //{
    //    registeredChildList = await Http.GetFromJsonAsync<RegisteredChild[]>($"{serverUrl}/api/listing/getall");
    //}
}

