@page "/organize"
@using Blazorise
@using Blazorise.SignaturePad
@using SommerSummarum.Services

@inject HttpClient Http
@using Core.Models

<h3>Organiser Ledige Pladser</h3>

<div class="col-md-12 mb-3">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in childList ?? new RegisteredChild[0])
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Comment</td>
                    @*<td><button class="btn btn-primary" @onclick="() => OpenPurchaseDialog(item)">Purchase</button></td>*@
                    <td>
                        <InputSelect @bind-Value="@item.AssignedPeriod" class="form-control">
                            @foreach (var period in periodList)
                            {
                                @foreach (var day in period.Days)
                                {
                                    var displayText = $"{period.Week}, {day}";
                                    <option value="@displayText">@displayText</option>
                                }
                            }
                        </InputSelect>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Inject]
    private IPeriodService pService { get; set; }

    private string serverUrl = "https://localhost:7016";

    private string test = "";

    private string selectedPeriod = "";

    private List<Period>? periodList = new();


    private RegisteredChild[]? childList = new RegisteredChild[0];


    protected override async Task OnInitializedAsync()
    {
        childList = await Http.GetFromJsonAsync<RegisteredChild[]>($"{serverUrl}/api/registeredchildren/getall");

        periodList = await pService.GetAllPeriod();

        foreach (var item in periodList)
        {
            Console.WriteLine(item.Week);
        }
    }

    public void UpdateChild()
    {
    }

}
