@page "/registerchild"
@using Core.Models;
@using System.Text.Json
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStore
@using Blazorise.SignaturePad
@using ValidationSummary = Microsoft.AspNetCore.Components.Forms.ValidationSummary


<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<EditForm Model="childItem" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-12 mb-3">
        <label for="Name">Navn</label>
        <InputText id="Name" @bind-Value="childItem.Name" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Age">Alder</label>
        <InputNumber id="Age" @bind-Value="childItem.Age" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="ClothingSize">T-shirt Størrelse</label>
        <InputText id="ClothingSize" @bind-Value="childItem.ClothingSize" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Comment">Ekstra Kommentar</label>
        <InputText id="Comment" @bind-Value="childItem.Comment" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Krævnr">Krævnr</label>
        <InputNumber id="Krævnr" @bind-Value="childItem.Krævnr" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Hobbies">Hobbyer</label>
        <InputText id="Hobbies" @bind-Value="childItem.Hobbies" class="form-control" />
    </div>

    <!-- Første prioritet-->
    <div class="col-md-3 mb-3">
        <label for="Priority1">1. Prioritet</label>

        <!-- Vælg ugenummer-->
        <InputSelect @bind-Value="firstPriority.Week" class="form-control">
            @foreach (var item in periodList)
            {
                <option value="@item.Week">@item.Week</option>
            }
        </InputSelect>
        <!-- Vælg dag, viser ikke gentagne værdier-->
        <InputSelect @bind-Value="firstPriority.Day" class="form-control">
            @{
                var displayedDays = new List<string>();
                foreach (var item in periodList)
                {
                    foreach (var day in item.Days)
                    {
                        if (!displayedDays.Contains(day))
                        {
                            displayedDays.Add(day);
                            <option value="@day">@day</option>
                        }
                    }
                }
            }
        </InputSelect>
    </div>

    <!-- Anden prioritet-->
    <div class="col-md-3 mb-3">
        <label for="Priority1">2. Prioritet</label>

        <!-- Vælg ugenummer-->
        <InputSelect @bind-Value="secondPriority.Week" class="form-control">
            @foreach (var item in periodList)
            {
                <option value="@item.Week">@item.Week</option>
            }
        </InputSelect>
        <!-- Vælg dag, viser ikke gentagne værdier-->
        <InputSelect @bind-Value="secondPriority.Day" class="form-control">
            @{
                var displayedDays = new List<string>();
                foreach (var item in periodList)
                {
                    foreach (var day in item.Days)
                    {
                        if (!displayedDays.Contains(day))
                        {
                            displayedDays.Add(day);
                            <option value="@day">@day</option>
                        }
                    }
                }
            }
        </InputSelect>
    </div>

    <!-- Checkbokse-->
    <div class="col-md-12 mb-3">
        <InputCheckbox id="BeenBefore" @bind-Value="childItem.BeenBefore" class="form-check-input" />
        <label for="BeenBefore">Mit barn har været i Cirkus Summarum's pasningsordning før</label>
    </div>


    <div class="col-md-12 mb-3">
        <InputCheckbox id="IsVolunteering" @bind-Value="isVolunteering" class="form-check-input" />
        <label for="IsVolunteering">Jeg har selv været inde og oprette mig selv som frivilig på Cirkus Summarum</label>

        @if (showVolunteerError)
        {
            <p class="text-danger">Du skal selv allerede være registreret som frivillig for at registrere dit barn.</p>
        }
    </div>

    <!-- Underskrift-->
    <div>
        <label>Underskrift fra værge</label>
        <br />
        <SignaturePad CanvasWidth="600" CanvasHeight="400" @bind-Value="@childItem.GuardianSignature" Class="signature-pad" Style="width: 100%; height: 300px; outline-style: dotted"></SignaturePad>
    </div>
    <div class="col-12 mb-3">
        <button class="btn btn-primary" @onclick="() => HandleValidSubmit()">Ansøg</button>
    </div>
</EditForm>

<ModalDialog @ref="ConfirmationDialog" Title="Confirm register">
    <div class="row p-3">
        <div class="col-md-12 mb-3">
            <strong>Navn:</strong>
            <p>@currentRegisteredChild?.Name</p>
        </div>
        <div class="col-md-12 mb-3">
            <strong>Alder:</strong>
            <p>@currentRegisteredChild?.Age</p>
        </div>
        <div class="col-md-12 mb-3">
            <strong>T-shirt størrelse:</strong>
            <p>@currentRegisteredChild?.ClothingSize</p>
        </div>
        <div class="col-md-12 mb-3">
            <strong>Kommentarer:</strong>
            <p>@currentRegisteredChild?.Comment</p>
        </div>
        <div class="col-md-12 mb-3">
            <strong>Har deltage før:</strong>
            <p>@currentRegisteredChild?.BeenBefore</p>
        </div>
        <div class="col-md-12 mb-3">
            <strong>Hobbyer:</strong>
            <p>@currentRegisteredChild?.Hobbies</p>
        </div>
        <div class="col-md-12 mb-3">
            <strong>Underskrift:</strong>
            <p>@currentRegisteredChild?.GuardianSignature</p>
        </div>
        <div class="col-md-12 mb-3">
            <strong>Krævnr:</strong>
            <p>@currentRegisteredChild?.Krævnr</p>
        </div>
        <div class="col-12 mb-3">
            <button class="btn btn-success" @onclick="AddChildItem">Ansøg</button>
            <!--<button class="btn btn-secondary" @onclick="() => ConfirmationDialog.Close()">Annuller</button>-->
        </div>
    </div>
</ModalDialog>

@code {
    private string serverUrl = "https://localhost:7016";

    private EditContext? aEditContext;

    private User? user;

    private List<Period>? periodList = new();

    private bool showVolunteerError = false;

    private Priority firstPriority = new Priority();
    private Priority secondPriority = new Priority();

    private RegisteredChild childItem = new RegisteredChild();
    private RegisteredChild? currentRegisteredChild;
    private ModalDialog ConfirmationDialog;
    public bool isVolunteering;

    protected override async Task OnInitializedAsync()
    {
        aEditContext = new EditContext(childItem);
        var userInfoJson = await localStore.GetItemAsStringAsync("userinfo");
        if (!string.IsNullOrEmpty(userInfoJson))
        {
            user = JsonSerializer.Deserialize<User>(userInfoJson);
        }
        periodList = await Http.GetFromJsonAsync<List<Period>>($"{serverUrl}/api/period/getAll");

        foreach (var item in periodList)
        {
            Console.WriteLine(item.Week);

        }
    }

    public void OpenConfirmationDialog(RegisteredChild child)
    {
        currentRegisteredChild = child;
        ConfirmationDialog.Open();
    }

    public void HandleValidSubmit()
    {
        if (isVolunteering)
        {
            showVolunteerError = false;
            OpenConfirmationDialog(childItem); // Only open the dialog if volunteering is true
        }
        else
        {
            // If not volunteering, show an error and do not open the dialog
            showVolunteerError = true;
        }
    }

    private async Task AddChildItem()
    {
        childItem.User = user;
        childItem.DateAdded = DateTime.Now;
        childItem.FirstPriority = firstPriority;
        childItem.SecondPriority = secondPriority;

        await Http.PostAsJsonAsync<RegisteredChild>($"{serverUrl}/api/registeredchildren/add", childItem);
        childItem = new(); // clear fields in form
        aEditContext = new EditContext(childItem); // Reset the edit context
        ConfirmationDialog.Close();

    }

}

